<!DOCTYPE html>
<html>
<head>
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>YouTube Downloader</h1>
<div class="input-container">
    <input type="text" placeholder="YouTube URL" class="url-input">
    <select class="type-select">
        <option value="audio">Audio (MP3)</option>
        <option value="video">Video (Best Quality)</option>
    </select>
    <button onclick="addTask()">Add</button>
</div>
<div class="tasks-container">
    <table class="tasks-table">
        <thead>
        <tr>
            <th>URL</th>
            <th>Video Title</th>
            <th>Status</th>
            <th>Download</th>
        </tr>
        </thead>
        <tbody id="tasks-body">
        </tbody>
    </table>
</div>
<script src="/static/script.js"></script>
</body>
</html>